<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="Environment" value="Development"/>
    <add key="EMailConnection" value="wVVcx4PT4raxrzthg0RY51sDXWkk9SIA2vqJG7Ue7QsHN8fivQxImNneyXwAiki+tPwCy0wgry4fX+Ps24VuSg=="/>
    <add key="EMailConnectionMock" value="BvJNLw+Y4jq7e3Jx6yzRy1s6ZmsFta74uN+pi5PWkwxgC2dfzuQw6mQC9hjFr4MQ5nepT61dGvdLovhCu7ni6A=="/>
    <add key="SHOWEXCEPTION" value="true"/>
    <add key="LibraryServiceEndpoint" value="ILibraryService_RemoteHttp"/>
    <add key="SubscriberServiceEndpoint" value="SubscriberService_RemoteHttp"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime/>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="Home" name="Login" path="/" protection="All" timeout="15"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <!-- Necessary; otherwise you do not have access to the Login page to autheticate the user! -->
  <location path="~/Home/Login.cshtml">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Home/Hello.cshtml">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Shared/Error.cshtml">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" closeTimeout="00:01:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="TCPSession">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://blackriverinc-svc.cloudapp.net:8088/LibraryService.svc/LibraryService" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="LibraryService.ILibraryService" name="ILibraryService_RemoteAzureHttp"/>
      <endpoint address="http://blackriverinc.com/HelloIndigoService/LibraryService.svc/LibraryService" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="LibraryService.ILibraryService" name="ILibraryService_RemoteHttp"/>
      <endpoint address="http://blackriverinc.com/HelloIndigoService/Subscriber.svc/SubscriberService" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="SubscriberService.ISubscriber" name="SubscriberService_RemoteHttp"/>
      <endpoint address="http://localhost:8088/LibraryService.svc/LibraryService" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="LibraryService.ILibraryService" name="ILibraryService_LocalHttp"/>
      <endpoint address="http://localhost:8088/Subscriber.svc/SubscriberService" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="SubscriberService.ISubscriber" name="SubscriberService_LocalHttp"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>