.oe-nav
{
   margin: 0;
   padding: 0;
   list-style:none;
}

.oe-nav > li
{
   float:left;
   margin-right: 5px;
   background-image: url("../images/tab-rght.jpg");
   background-position: right top;
   background-repeat: no-repeat;
   background-color: transparent;
}

.oe-nav > li:hover
{
   background-position: right bottom;
   background-color: transparent;
}

.oe-nav > li.active
{
   float:left;
   margin-right: 5px;
   background-color: transparent;
   background-image: url("../images/cur-rght.jpg");
}

.oe-nav > li > a
{
   display:block;
   text-decoration:none;
   padding: 3px 5px;
   font-size: 12pt;

   margin-bottom: -1px;   
   background-image: url("../images/tab-left.jpg");
   background-position: left top;
   background-repeat: no-repeat;
   background-color: transparent;
}
.oe-nav > li > a:hover
{
   background-position: left bottom;
   background-color: transparent;
}
.oe-nav > li > a.active
{
   display:block;
   text-decoration:none;
   padding: 3px 5px;
   font-size: 12pt;

   margin-bottom: -1px;   
   background-image: url("../images/cur-left.jpg");
   background-position: left top;
   background-repeat: no-repeat;
   background-color: transparent;
}
