<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blackriverinc.Framework.DataStore" version="1.0.6466.30533" targetFramework="net40" />
  <package id="Blackriverinc.Framework.Utility" version="1.0.6460.36909" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net40" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net40" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.4.1" targetFramework="net40" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="1.7.0.0" targetFramework="net40" />
</packages>