<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" 
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
             requirePermission="false" />
    <section name="databaseConfigurationSection" type="Blackriverinc.Framework.DataStore.DatabaseConfigurationSection, DataStore" restartOnExternalChanges="true" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <databaseConfigurationSection>
    <databaseConfigurations>

      <environment name="LibraryEntities.Local"
                   server="."
                   catalog="Library"
                   />

    </databaseConfigurations>
  </databaseConfigurationSection>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.EntityClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="LibraryEntities.Local" connectionString="metadata=res://*/LibraryModel.csdl|res://*/LibraryModel.ssdl|res://*/LibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Library;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="LibraryEntities.Azure" connectionString="metadata=res://*/LibraryModel.csdl|res://*/LibraryModel.ssdl|res://*/LibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:ewt2vlky68.database.windows.net,1433;Database=Library;User ID=eljeffe@ewt2vlky68;Password=Klondike!fever12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>


  <appSettings>
    <add key="LogPath" value="C:\Logs\subscriber" />
    <add key="TraceMask" value="LOG|TASK" />
    <add key="LibraryEntities.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=blackriverinc;AccountKey=VfCW3o2DtXyyBjlsxQlms70zGAY2QkFVN3+mks1J3wm0QtO8ZANz1Ykm46mkPsLiGUdK7dEeuHF9nQHJW5Eoqg==" />
    <add key="secondary.blackriverinc.azure.net" value="WHVH6ArO1oz7ZLEw8w3oqmSCQ07xLQx5WWoW8kOkpNsCtuKmLTCCwNCrDFrzep64O3NitgJctLj9EQFFdsfwHg==" />
    <add key="Environment" value="LibraryEntities.Azure" />    
    <add key="LocalServer" value="." />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.EchoService">
        <endpoint address="EchoService" binding="basicHttpBinding" bindingConfiguration="" name="basicHttp" contract="HelloIndigo.IEchoService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/EchoService.svc" />
          </baseAddresses>
          <timeouts closeTimeout="10" />
        </host>
      </service>
      <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.LibraryService">
        <endpoint address="LibraryService" binding="basicHttpBinding" bindingConfiguration="" name="basicHttp" contract="HelloIndigo.ILibraryService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/LibraryService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.SubscriberService">
        <endpoint address="SubscriberService" binding="basicHttpBinding" bindingConfiguration="" name="basicHttp" contract="HelloIndigo.ISubscriber" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/SubscriberService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  
</configuration>