<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="LibraryEntities.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=blackriverinc;AccountKey=VfCW3o2DtXyyBjlsxQlms70zGAY2QkFVN3+mks1J3wm0QtO8ZANz1Ykm46mkPsLiGUdK7dEeuHF9nQHJW5Eoqg==" />
      <add key="LogPath" value="C:\Logs\HelloIndigoService"/>
      <add key="TraceMask" value="LOG|TASK" />
      <add key="secondary.blackriverinc.azure.net" value="WHVH6ArO1oz7ZLEw8w3oqmSCQ07xLQx5WWoW8kOkpNsCtuKmLTCCwNCrDFrzep64O3NitgJctLj9EQFFdsfwHg==" />
   </appSettings>
   <system.web>
      <compilation debug="true" targetFramework="4.0" />
     <customErrors mode="Off" />
   </system.web>
   <system.serviceModel>
     
      <bindings configSource="wcf.bindings.cfg"/>
     
      <services>        
         <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.EchoService">
            <endpoint address="EchoService" binding="basicHttpBinding"
              bindingConfiguration="" name="basicHttp" contract="HelloIndigo.IEchoService" />
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:8088/EchoService.svc" />
               </baseAddresses>
               <timeouts closeTimeout="10"/>
            </host>
         </service>
         <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.LibraryService">
            <endpoint address="LibraryService" binding="netTcpBinding"
              bindingConfiguration="" name="netTcp" contract="HelloIndigo.ILibraryService" />
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:8088/LibraryService.svc" />
               </baseAddresses>
            </host>
         </service>
      </services>
     
      <behaviors>
         <serviceBehaviors>
            <behavior name="serviceBehavior">
               <serviceMetadata httpGetEnabled="true" />
               <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
   </system.serviceModel>
   <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <directoryBrowse enabled="true" />
   </system.webServer>
</configuration>