@using Library.Model
@using LendingLibrary.WebAppMVC
@model Library.Model.Checkout
@{  
    Layout = "~/Views/Shared/_PageBase.cshtml";
    Page.Title = "Black River Systems, Inc - Lending Library Checkout";
 
}
<div id="oe-email">
   <h2>
      Checkout Confirmation
   </h2>
   <fieldset style="margin-left: 27px; margin-right: 27px;">
      <label class="oe-label" style="margin-top: 2pt;">
         Name</label>
      <input type="text" name="Name" id="name" class="oe-text" value=@(Model.Name) />
      <label class="oe-label" style="margin-top: 2pt;">
         ISBN</label>
      <input type="text" name="ISBN" id="book-isbn" class="oe-text" value=@(Model.ISBN) />
      <label class="oe-label" style="margin-top: 2pt;">
         Title</label>
      <input type="text" name="Title" id="title" class="oe-text" value=@(Model.Title) />
      <label class="oe-label" style="margin-top: 2pt;">
         Date</label>
      <input   type="text"   
               name="CheckoutDate" id="checkout-date" class="oe-text" 
               value=@(Model.DateOut.ToShortDateString()) />
   </fieldset>
</div>
