<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="string-1" value="A string pulled from 'setting' [string-1]."/>
    <add key="integer-5977" value="5977" />
    <add key="bool-true" value="true" />
    <add key="bool-false" value="false" />
  </appSettings>
</configuration>