<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blackriverinc.Framework.DataStore" version="1.0.6466.30533" targetFramework="net40" />
  <package id="Blackriverinc.Framework.Utility" version="1.0.6460.36909" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net40" />
</packages>