<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!-- add assembly="Microsoft.WindowsAzure.ServiceRuntime, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/ -->
      </assemblies>
    </compilation>
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="true"/>
    <customErrors mode="Off" >
      <error statusCode="403" redirect="~/Response403.html" />
    </customErrors>
    <authentication mode="Forms">
      <forms name="Login" loginUrl="~/Account/Login.cshtml" protection="All" path="/"  timeout="15"  defaultUrl="~/Default.cshtml"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*" />
    </authorization>
  </system.web>

  <!-- Necessary; otherwise you do not have access to the Login page to autheticate the user! -->
  <location path="Account/Login.cshtml">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ErrorPage.cshtml">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- Stop IIS from banging onto the Login page every time it fetches the 
       style sheets and application scripts. -->
  <location path="Styles/Site.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles/Buttons.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles/Tabs.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts/BookSelection.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>


  <connectionStrings>
    <add name="BookCorpEntities" connectionString="metadata=res://*/BookCorpModel.csdl|res://*/BookCorpModel.ssdl|res://*/BookCorpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[SERVER];initial catalog=[DBNAME];UID=BookCorpclw;PWD=7uC1L7Fu;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <appSettings>
    <add key="EMailConnection" value="wVVcx4PT4raxrzthg0RY51sDXWkk9SIA2vqJG7Ue7QsHN8fivQxImNneyXwAiki+tPwCy0wgry4fX+Ps24VuSg=="/>
    <add key="SHOWEXCEPTION" value="true"/>
    <add key="LibraryServiceEndpoint" value="ILibraryService_LocalHttp" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" />
        <binding name="basicHttp1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://blackriverinc-svc.cloudapp.net:8080/LibraryService.svc/LibraryService"
        binding="basicHttpBinding" bindingConfiguration="basicHttp"
        contract="BlackriverincSvc.ILibraryService" name="ILibraryService_RemoteAzureHttp" />
      <endpoint address="http://blackriverinc.com:8080/LibraryService.svc/LibraryService"
        binding="basicHttpBinding" bindingConfiguration="basicHttp"
        contract="BlackriverincSvc.ILibraryService" name="ILibraryService_RemoteHttp" />
      <endpoint address="http://localhost:8088/LibraryService.svc/LibraryService"
        binding="basicHttpBinding" bindingConfiguration="basicHttp"
        contract="BlackriverincSvc.ILibraryService" name="ILibraryService_LocalHttp" />
      <endpoint address="http://localhost:8080/LibraryService.svc/LibraryService"
        binding="basicHttpBinding" bindingConfiguration="basicHttp"
        contract="BlackriverincSvc.ILibraryService" name="ILibraryService_LocalAzureHttp" />
      <endpoint address="http://localhost:8088/LibraryService.svc/LibraryService"
        binding="basicHttpBinding" bindingConfiguration="basicHttp1"
        contract="BlackriverincSvc.ILibraryService" name="basicHttp" />
    </client>
  </system.serviceModel>
</configuration>