<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="databaseConfigurationSection" type="Blackriverinc.Framework.DataStore.DatabaseConfigurationSection, BlackRiverInc.Framework.DataStore" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <databaseConfigurationSection configSource="database.config" />

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.EntityClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="LibraryEntities.Local" connectionString="metadata=res://*/LibraryModel.csdl|res://*/LibraryModel.ssdl|res://*/LibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Library;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LibraryEntities.GearHost" connectionString="metadata=res://*/LibraryModel.csdl|res://*/LibraryModel.ssdl|res://*/LibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:mssql5.cloudsites.gearhost.com;Initial Catalog=library;User ID=library;Pwd=ajlCkhae;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LibraryEntities.Azure" connectionString="metadata=res://*/LibraryModel.csdl|res://*/LibraryModel.ssdl|res://*/LibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:ewt2vlky68.database.windows.net,1433;Database=Library;User ID=eljeffe@ewt2vlky68;Password=Klondike!fever12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <appSettings>
    <add key="Environment" value="LibraryEntities.Local" />
    <add key="TraceMask" value="LOG" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LibraryEntities.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=blackriverinc;AccountKey=VfCW3o2DtXyyBjlsxQlms70zGAY2QkFVN3+mks1J3wm0QtO8ZANz1Ykm46mkPsLiGUdK7dEeuHF9nQHJW5Eoqg==" />
    <add key="secondary.blackriverinc.azure.net" value="WHVH6ArO1oz7ZLEw8w3oqmSCQ07xLQx5WWoW8kOkpNsCtuKmLTCCwNCrDFrzep64O3NitgJctLj9EQFFdsfwHg==" />
  </appSettings>

  <system.serviceModel>

    <services>
      <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.EchoService">
        <endpoint address="EchoService" binding="basicHttpBinding" bindingConfiguration="" name="basicHttp" contract="HelloIndigo.IEchoService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/HelloIndigo.svc" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.LibraryService">
        <endpoint address="LibraryService" binding="basicHttpBinding" bindingConfiguration="" name="basicHttp" contract="HelloIndigo.ILibraryService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/LibraryService.svc" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.SubscriberService">
        <endpoint address="SubscriberService" binding="basicHttpBinding" bindingConfiguration="" name="basicHttp" contract="HelloIndigo.ISubscriber" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/SubscriberService.svc" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <bindings>
      <netTcpBinding>
        <binding name="TCPSession">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>